body{
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    text-align: center;
    background-color:  hsl(0, 0%, 12%) ;
    width: 400px;
    
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 14px;
    border-radius: 10px;
   /* color: hsl(75, 94%, 57%) */
}
.img{
    border-radius: 100%;
    width: 100px;
}
.p1{
    color: hsl(75, 94%, 57%)
}
button{
    background-color:  hsl(0, 0%, 20%) ;
    width: 200px;
    color: hsl(0, 0%, 100%) ;
    text-align: center;
    padding: 5px 5px;
    border-radius: 10px;
    border: 2px hsl(0, 0%, 20%) solid;
    
}
button:hover{
    color: hsl(0, 0%, 8%);
    background-color: hsl(75, 94%, 57%);
}