a{
    text-decoration:solid gray;
    
}
p {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-decoration: dashed;
  }
