@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Bungee+Spice&family=Figtree:ital,wght@0,300..900;1,300..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: hsl(257, 40%, 49%);
    background-image: url("../images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: bottom;
    font-family: "Poppins", sans-serif;
}
img{
    position: relative;
    top: 130px;
    left: 100px;
    width: 50%;
    height: 75%;
}
.f{
    top: 40px;
    left: 60px;
    position: absolute;
    font-size: 2em;
}
.topleft p{
    position: absolute;
    left:100px;
    top: 30px;
    font-size: 2em;
    font-weight: 700;
}
.logos i{
    position: relative;
    color: hsl(0, 0%, 100%);
    background-color: hsl(257, 40%, 49%);
    outline: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    padding: 13px;
    left: 1320px;
    top: 55px;
    margin-right: 10px;
    width: 39px;
    height: 39px;
}
.text{
    position: absolute;
    top: 210px;
    left: 900px;
    margin-left: 30px;
}
h1{
    color: rgb(245, 245, 245);
    font-size: 2.6em;
    font-weight: 600;
    margin-bottom: 30px;
}
p{
    color: rgb(245, 245, 245);
}
button{
    margin-top: 20px;
    width: 200px;
    height: 55px;
    border-radius: 125px;
    color: hsl(257, 40%, 49%);
    font-size: 1.1em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.499);
}
button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}
.logos i:hover{
    outline: 2px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}